*{
	padding: 0px;
	margin: 0px;
	font-family: Microsoft YaHei;
	box-sizing: border-box;
}
body{
	margin: 0px;
}
/*
     头部
*/
header{
	height: 56px;
	position: relative;
	overflow: hidden;
}
div.log-and-title{
	margin-left: 59px;
	margin-top: 13px;
	float: left;
}
.log-and-title span{
	color: #393A3A;
    font: 600 21px 黑体;
    vertical-align:middle;
}
.log-and-title img{
  display: inline-block;
  width: 31px;
  height: 31px;
  vertical-align:middle;
  line-height: 31px;
  margin-right: 9px;
}
/* 导航栏 */
header nav{
	overflow: hidden;
}
nav div{
	float: right;
	height: 27px;
	margin-top: 11px;
	overflow: hidden;
}
div.sign-in img{
	width: 15px;
	height: 17px;
	vertical-align: middle;
	display: inline-block;
}
div.sign-in section{
  color: #E74F4D;
  font:14px/1.929 'Microsoft YaHei';
  vertical-align: middle;
  margin-right: 66px;
  display: inline-block;
}
header ul{
  width: 511px;
  color: #787b83;
  height: 56px;
  float: right;
}
header li{
	text-decoration: none;
	display: inline-block;
	width: 65px;
    height: 52px;
    border-bottom: 4px solid white;
    margin-right: 40px;
    overflow: hidden;
    box-sizing: content-box;
}
header li:hover{
	border-bottom: 4px solid #e7504d;
	color: #e74f4d;
}
header li span{
	display: block;
	text-align: center;
	top: 50%;
	position: relative;
	margin-top: -9.5px;
	font:14px 'Microsoft YaHei';
}
/* 
       主体部分 
*/
.interface-the-first{
	height: 691px;
	overflow: hidden;
	background-image: url('backgound_top.png');
	position: relative;	
	background-size: cover;
}
.interface-the-first section{
  color: #FFFFFF;
  font-size:60px;
  position: absolute;
  top: 216px;
  left: 116px;
}
.interface-the-first span {
	color: #FFFDFD;
	position: absolute;
	left: 124px;
	top: 304px;
	font-size: 21px;
	line-height: 32px;
	width: 295px;
}
.interface-the-first img{
	width: 100%;
	height: 691px;
}
.button{
  width: 331px;
  height: 63px;
  background-color: #e74f4d;
  position: absolute;
  top: 430px;
  left: 126px;
}
.button p{
	text-align: center;
	line-height: 59px;
	color: #FFFFFF;
	font-size: 30px;
	letter-spacing: 3px;
}